{{ define "main" }}
<content>
  {{ if .Data.Singular }}
    <h3 class="blog-filter">{{ i18n "filtering-for" }} "{{ .Title }}"</h3>
    <small>
      <a href="{{ "/blog" | relURL }}">Remove filter</a> | <a href="index.xml">RSS</a>
    </small>
  {{ else if .Site.Params.list.tagsOnTop }}
    <div>
      {{ range .Site.Taxonomies.tags }}
        <a class="blog-tags" href="{{ .Page.RelPermalink }}">#{{ lower .Page.Title }}</a>
      {{ end }}
    </div>
  {{ end }}
  <ul class="blog-posts">
    {{ range .Pages }}
      {{- partial "post_list_item.html" . -}}
    {{ else }}
    <li>
      {{ i18n "no-posts" }}
    </li>
    {{ end }}
  </ul>
  {{ if not (and .Data.Singular .Site.Params.list.tagsOnTop) }}
    <div>
      {{ range .Site.Taxonomies.tags }}
        <a class="blog-tags" href="{{ .Page.RelPermalink }}">#{{ lower .Page.Title }}</a>
      {{ end }}
    </div>
  {{ end }}
</content>
{{ end }}
