{{ define "main" }}
{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p class="byline">
  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
    {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
  </time>
  {{ with .Params.author }}· {{.}}{{ end }}
  {{ if not (.Lastmod.Equal .Date) }}
    <br>
    <time datetime='{{ .Lastmod.Format "2006-01-02" }}'>
      ({{ i18n "updated" }} {{ .Lastmod.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }})
    </time>
  {{ end }}
</p>
{{ end }}

{{ if .Params.contents }}
<div class="toc">
  <h3>{{ i18n "table-of-contents" }}</h3>
  {{ .TableOfContents }}
</div>
{{ end }}

<content>
  {{ .Content }}
</content>
<p>
  {{ range (.GetTerms "tags") }}
    <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
  {{ end }}
</p>
{{ if eq .Type "blog" }}
  {{ with .Site.Params.blog.contactPage }}
    <p>
      <a href='{{ . }}'>
        ↪ {{ i18n "reply" }}
      </a>
    </p>
    {{ end }}
{{ end }}
{{ with .Params.comments }}
  <p>
    <a href='{{ . }}'>
      ↪ {{ i18n "comment" }}
    </a>
  </p>
{{ end }}
{{ end }}
