{{ range .Site.Menus.main }}
  <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
{{ end }}
<a href="mailto:{{ .Site.Params.email }}?subject={{ i18n "email-subject" }}'{{ .Page.Title | default .Site.Title }}'">Email</a>
<a href="/index.xml">RSS</a>
{{ $pageLang := .Page.Lang }}
{{ if .IsTranslated }}
  {{ range .Translations }}
    {{ if ne $pageLang .Lang }}
      <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    {{ end }}
  {{ end }}
{{ else if not .Site.Params.hideUntranslated }}
  <a class="disabled" href="">{{ .Language.LanguageName }}</a>
{{ end }}
